*{
    margin:0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing:border-box;
}
html,body{
    width:100%;
    height:100%;
}
#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    background:rgb(52, 172, 132);
}
#panel{
    overflow: hidden;
    width:90%;
    height:90%;
    border-radius: 10px;
    background: white;
}
#ptop{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:80px;
    background:rgb(26, 124, 91);
}
.elem{
    color: #fff;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
}
.elem h3{
    font-weight: 500;
}
.box{
    color: #1bc353;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}
#pbtm{
    display: flex;   
    /*  this display flex is for the bubble coming in rows  */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    width:100%;
    height:calc(100% - 80px) ;
    padding: 20px;
    gap: 15px; 
    /*  gap is also working same as margin which is proving gap in between  */
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    width:50px;
    height:50px;
    border-radius: 50%;
    background:rgb(26, 124, 91);
    font-weight: 600;

}
.bubble:hover{
    cursor: pointer;
    background-color: #1bc353;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


